h1 {
    text-align: center;
}

select {
    display: block;
}

#right-div {
    float: left;
    width: 30%;
}

#right-div select {
    margin-bottom: 40px;
}

#left-div {
    float: left;
    width: 70%;
}

#left-div img {
    width: 90%;
    margin-bottom: 5px;
}

#left-div label {
    display: block;

    text-align: center;
}

#left-div textarea {
    width: 90%;
}