<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{ url_for('static', filename='js/order_summary.js') }} "></script>
    <title> Order Summary </title>
</head>
<body>
    <h1>Order Summary</h1>
    <h2>Order Number:  add order number here </h2>
    <h2>Customer Name:  add customer name here </h2>

    <h2> List of items: </h2>
    <ul>
        <li> add order items here </li>
    </ul>
</body>
</html>